* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* FIXED VIDEO */
.bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* COMMON SECTION STYLE */
.section {
  height: 120vh;
  display: flex;
  flex-direction: column;   
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  text-align: center;
  background: #614051;
  transform: translateY(-50px);
}

.logo {
  width: 10cm;
  height: 10cm;
  margin-bottom: 20px; /* space between logo & text */
}

/* TRANSPARENT SECTION */
.transparent-section {
  background: transparent /* shows video */
}

/* COLORED SECTION */
.colored-section {
  height:210px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  text-align: center;
  background: rgb(242, 234, 208); 
  color: black;
}